<% include ../static/header %>

<div class="container">
  <form action="/rooms/admin" method="POST">
    <div class="form-group">
      <label for="beds">Number of Beds</label>
      <input type="number" class="form-control" id="bedInput" placeholder="Number of Beds" name="beds">
    </div>
    <div class="form-group">
      <label for="dateFrom">From Date</label>
      <input type="date" class="form-control" id="fromInput" placeholder="mm/dd/yyyy" name="dateFrom">
    </div>
    <div class="form-group">
      <label for="dateTo">To Date</label>
      <input type="date" class="form-control" id="toInput" placeholder="mm/dd/yyyy" name="dateTo">
    </div>
    <div class="form-group">
      <label for="price">Price/night</label>
      <input type="number" class="form-control" id="priceInput" placeholder="Enter your budget" name="price">
    </div>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Add Room for Reservations</button>
  </form>

  <nav aria-label="...">
  <ul class="pager">
    <li><a href="/rooms/admin">Back to Rooms Listing</a></li>
  </ul>
</nav>

</div>
