<% include ../static/header %>

<div class="container">
  Update current <%=roomToEdit.beds%> beds reservation
  <form action=<%= "/rooms/" + roomToEdit.id + "?_method=PUT" %> method="POST">
    <div class="form-group">
      <label for="dateFrom">From Date</label>
      <input type="date" class="form-control" id="fromInput" placeholder="mm/dd/yyyy" name="dateFrom">
    </div>
    <div class="form-group">
      <label for="dateTo">To Date</label>
      <input type="date" class="form-control" id="toInput" placeholder="mm/dd/yyyy" name="dateTo">
    </div>
    <button type="submit" class="btn btn-default">Update Reservation</button>
  </form>
</div>
