<% include ../static/header %>

<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Possible Reservations</div>
    <table class="table">
      <tr>
        <th>Bedrooms</th>
        <th>Price/day</th>
        <th>From</th>
        <th>To</th>
        <th></th>
        <th></th>
      </tr>
      <% allAvailableRooms.forEach(function (rooms) { %>
        <tr>
        <td><%- rooms.beds %></td>
        <td><%- rooms.price %></td>
        <td><%- rooms.dateFrom %></td>
        <td><%- rooms.dateTo %></td>
        <td>
        <form action="/rooms"  method="POST">
        <button type="submit">Reserve Now</button>
        </form>
        </td>
        </tr>
        <% }) %>
    </table>
  </div>


  <form action="/rooms/search" method="GET">
    <button type="submit">Make new search</button>
  </form>
</div>
