
<h2>Room Reservation System</h2>

<p>
Sample free application for businesses to support bookings and availability of rooms for their customers.
</p>


<a href="/signup">Signup</a>
<a href="/login">Login</a>
<%#
<a href="/login/register">Register for Business Owners</a>
<a href="/auth/login">Business Login to Manage</a>%>

<%# <a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>%>
